{% extends 'mords/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock %}

{% block body_block %}

    <h1 class="page-header">{{ book.name }}</h1>

    {% if entrys %}
        <ul>
            {% for entry in entrys %}
            <!--<li><a href="/mords/{{ note.word.text }}/note/">{{ note.text }}</a></li>-->
                <li><a href="{% url 'mords:detail' entry.word.text %}">{{ entry.word.text }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No words are available.</p>
    {% endif %}

    {% if entrys.paginator.num_pages > 1%}
    <hr/>
    <div class="pagination">
    <span class="step-links">
        {% if entrys.has_previous %}
            <a href="?page={{ entrys.previous_page_number }}"> < </a>
        {% endif %}
        <span class="current">
            Page {{ entrys.number }} of {{ entrys.paginator.num_pages }}.
        </span>
        {% if entrys.has_next %}
            <a href="?page={{ entrys.next_page_number }}"> > </a>
        {% endif %}
    </span>
    </div>
    {% endif %}

{% endblock %}