{% extends 'mords/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock %}

{% block body_block %}

    <h1 class="page-header">{{ book.name }}</h1>

    <blockquote><p class="text-muted">updated on: {{book.update_date}}</p></blockquote>


    {% if entrys %}
        <ul>
            {% for entry in entrys %}
            <!--<li><a href="/mords/{{ note.word.text }}/note/">{{ note.text }}</a></li>-->
                <li><a href="{% url 'mords:detail' entry.word.id %}">{{ entry.word.text }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No words are available.</p>
    {% endif %}

    {% if entrys.paginator.num_pages > 1 %}
    <hr/>
    <ul class="pagination">
        {% if entrys.number > 1 %}
        <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
            <a href="?page=1">1 <<</a>
        </li>
        {% endif %}
        {% if entrys.has_previous %}
        <li class="paginate_button previous" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
            <a href="?page={{ entrys.previous_page_number }}"><</a>
        </li>
        {% endif %}
        <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
            <a href="#">{{entrys.number}}</a>
        </li>
        {% if entrys.has_next %}
        <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
            <a href="?page={{ entrys.next_page_number }}"> ></a>
        </li>
        {% endif %}
        {% if entrys.number < entrys.paginator.num_pages %}
        <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
            <a href="?page={{ entrys.paginator.num_pages }}">>> {{ entrys.paginator.num_pages }}</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}

{% endblock %}