{% extends 'mords/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Detail
{% endblock %}

{% block body_block %}

    <h1 class="page-header">{{ word.text }}</h1>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            Dictionary
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                {% for entry in word.entry_set.all %}
                <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">{{ entry.book }}</a>
                </li>
                {% endfor %}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                {% for entry in word.entry_set.all %}
                <div class="tab-pane fade active in" id="{{ entry.book }}">
                    <h4>Definition:</h4>
                    <p>{{ entry.defn }}</p>
                    <h4>Example: </h4>
                    <p>{{ entry.exmp }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- /.panel-body -->
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Notes
        </div>
        <div class="panel-body">
            {% for note in notes %}
            <p>{{ note.text }} -- by {{note.author}}</p>
            {% endfor %}
        </div>
    </div>


    <hr/>

    <form action="{% url 'mords:comment' word.text %}" method="post">
    {% csrf_token %}
    <!--{% for note in notes %}-->
        <!--<label for="note{{ forloop.counter }}">{{ note.text }}</label><br />-->
    <!--{% endfor %}-->
        <div class="form-group">
            <textarea type="text" name="note" id="note{{ forloop.counter }}" value="{{ note.text }}"
            class="form-control">
            </textarea>
            <input type="submit" value="Comment" class="btn btn-default"/>
        </div>

    </form>

{% endblock %}

