{% extends 'mords/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock %}

{% block body_block %}

    {% if user.is_authenticated %}
    <h1 class="page-header">Hi, {{ user.username }}</h1>
    {% else %}
    <h1 class="page-header">Welcome</h1>
    {% endif %}

    {% if latest_note_list %}
        <ul>
            {% for note in latest_note_list %}
            <!--<li><a href="/mords/{{ note.word.text }}/note/">{{ note.text }}</a></li>-->
                <li><a href="{% url 'mords:detail' note.word.text %}">{{ note.text }} -- by {{note.author}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No notes are available.</p>
    {% endif %}

    {% if latest_note_list.paginator.num_pages > 1 %}
    <hr/>
    <div class="pagination">
    <span class="step-links">
        {% if latest_note_list.has_previous %}
            <a href="?page={{ latest_note_list.previous_page_number }}"> < </a>
        {% endif %}
        <span class="current">
            Page {{ latest_note_list.number }} of {{ latest_note_list.paginator.num_pages }}.
        </span>
        {% if latest_note_list.has_next %}
            <a href="?page={{ latest_note_list.next_page_number }}"> > </a>
        {% endif %}
    </span>
    </div>
    {% endif %}

{% endblock %}