{% extends 'mords/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Learn
{% endblock %}

{% block body_block %}

    <h1 class="page-header"> Learning </h1>

    {% if error_message %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{ error_message }}
    </div>
    {% endif %}

    {% if not is_blank %}
    <div class="jumbotron">
        <h1>{{ word.text }}</h1>
        <p>
            <form action="{% url 'mords:cross' word.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-times"></i> 不认识
                </button>
            </form>
            <form action="{% url 'mords:tick' word.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i> 认识
                </button>
            </form>
        </p>

    </div>
    {% endif %}

{% endblock %}

