{% extends 'mords/base.html' %}
{% load staticfiles %}

{% block title_block %}
    New Words
{% endblock %}

{% block body_block %}

    <h1 class="page-header">Today's New Words 今日新词</h1>

    {% if latest_word_list.paginator.num_pages > 1 %}
    <ul class="pager">
        {% if latest_word_list.has_previous %}
            <li class="previous">
                <a href="?page={{ latest_word_list.previous_page_number }}">← Newer</a>
            </li>
        {% else %}
            <li class="previous disabled"><a href="#">← Newer</a></li>
        {% endif %}
        {% if latest_word_list.has_next %}
            <li class="next"><a class="withripple" href="?page={{ latest_word_list.next_page_number }}">Older →</a></li>
        {% else %}
            <li class="next"><a class="withripple" href="#">Older →</a></li>
        {% endif %}
    </ul>
    {% endif %}

    {% if latest_word_list %}
        <ul>
            {% for word in latest_word_list %}
                <li><a href="{% url 'mords:detail' word.id %}">{{ word.text }}</a></li>
                <!--<li>{{ entry.defn }}</li>-->
                <!--<li>{{ entry.exmp }}</li>-->
            {% endfor %}
        </ul>
    {% else %}
        <p>No new entries are available.</p>
    {% endif %}
    <hr>



{% endblock %}