{% extends 'mords/base.html' %}
{% load staticfiles %}

{% block title_block %}
    New Words
{% endblock %}

{% block body_block %}

    <h1 class="page-header">Today's New Words</h1>

    {% if latest_word_list %}
        <ul>
            {% for word in latest_word_list %}
                <li><a href="{% url 'mords:detail' word.text %}">{{ word.text }}</a></li>
                <!--<li>{{ entry.defn }}</li>-->
                <!--<li>{{ entry.exmp }}</li>-->
            {% endfor %}
        </ul>
    {% else %}
        <p>No new entries are available.</p>
    {% endif %}

    <hr/>
    <div class="pagination">
    <span class="step-links">
        {% if latest_word_list.has_previous %}
            <a href="?page={{ latest_word_list.previous_page_number }}"> < </a>
        {% endif %}
        <span class="current">
            Page {{ latest_word_list.number }} of {{ latest_word_list.paginator.num_pages }}.
        </span>
        {% if latest_word_list.has_next %}
            <a href="?page={{ latest_word_list.next_page_number }}"> > </a>
        {% endif %}
    </span>
    </div>
    <hr/>

{% endblock %}