{% extends 'mords/base.html' %}
{% load staticfiles %}

{% block title_block %}
    New Words
{% endblock %}

{% block body_block %}

    <h1 class="page-header">Today's New Words</h1>

    {% if latest_word_list %}
        <ul>
            {% for word in latest_word_list %}
                <li><a href="{% url 'mords:detail' word.text %}">{{ word.text }}</a></li>
                <!--<li>{{ entry.defn }}</li>-->
                <!--<li>{{ entry.exmp }}</li>-->
            {% endfor %}
        </ul>
    {% else %}
        <p>No new entries are available.</p>
    {% endif %}
{% endblock %}