{% extends 'mords/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Detail
{% endblock %}

{% block body_block %}

<div class="panel panel-primary" style="margin-top: 20px;">
    <div class="panel-heading">Profile</div>
    <div class="panel-body">

        <div class="list-group">
          <div class="list-group-item">
            <div class="row-picture">
              <img class="circle" src="../media/{{learner.pic }}" alt="" style="height:72px; width: 72px;">
            </div>
            <div class="row-content">
              <h4 class="list-group-item-heading" style="color:#009688; font-size: 150%">{{ learner.user }}</h4>

              <p class="list-group-item-text"><label>单词书：</label>{{learner.book}}</p>
              <p class="list-group-item-text"><label>学习量：</label>{{learner.words_perDay}}</p>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Update Profile</h3>
    </div>

    <div class="panel-body">
        <form role="form" id="learner_form" method="post" action="{% url 'mords:profile' %}"
        enctype="multipart/form-data">
            <fieldset>
                {% csrf_token %}
                {{ learner_form.as_p }}
                <input type="submit" name="submit" value="Update" class="btn  btn-success "/>
            </fieldset>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Update Password</h3>
    </div>

    <div class="panel-body">
        <form role="form" id="password_form" method="post" action="{% url 'mords:password' %}">
            <fieldset>
                {% csrf_token %}
                {{ password_form.as_p }}
                <input type="submit" name="submit" value="Update" class="btn  btn-success "/>
            </fieldset>
        </form>
    </div>
</div>


{% endblock %}